*{
    text-align: center;
  }
.mensaje-final{
  font-size: 2rem;
}
.cart{
  display: flex;
  flex-wrap: wrap;
}
.finalizar{
margin-top: 350px;}

#formularioReserva {
  display: none;
}
#firmas {
  display: none;
}